body {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.menu-container {
    display: flex;
    flex-direction: column;
}

.btn-new,
.btn-black,
.black-active,
.btn-rainbow,
.rainbow-active,
.btn-shade,
.shade-active,
.btn-eraser,
.eraser-active {
    align-self: flex-start;
    padding: 12px 26px;
    font-size: 15px;
}

.btn-black,
.black-active,
.btn-rainbow,
.rainbow-active,
.btn-shade,
.shade-active,
.btn-eraser,
.eraser-active {
    margin-bottom: 20px;
    transition-duration: 0.4s;
    width: 125px;
}

.black-active {
    background-color: black;
    color: white;
    font-weight: bold;
}

.rainbow-active {
    background-image: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet);
    font-weight: bold;
}

.shade-active {
    background-image: linear-gradient(to right, white, black);
    font-weight: bold;
}

.eraser-active {
    background-color: #E1ADB3;
    font-weight: bold;
}


.grid-container {
    display: grid;
    width: 560px;
    height: 560px;
    background-color: white;
    border-style: solid;
    border-width: 1px;
    margin-top: 40px;
}

.place-holder-container {
    width: 182px;
}