body {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.menu-container {
    display: flex;
    flex-direction: column;
}

.btn-new,
.header,
.btn-black,
.btn-rainbow {
    align-self: flex-start;
}

.btn-black,
.btn-rainbow {
    margin-bottom: 20px;
}

.grid-container {
    display: grid;
    width: 560px;
    height: 560px;
    background-color: white;
    border-style: solid;
    border-width: 1px;
    margin-top: 40px;
}

.place-holder-container {
    width: 182px;
}