body {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
}

.menu-container {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
}

.ask-input {
    width: 280px;
    font-size: large;
}

.input-container {
    display: flex;
    flex-direction: row;
}

#dimension {
    width: 48px;
    font-size: large;
    margin-bottom: 8px;
}

#submit {
    align-self: flex-start;
    font-size: 15px;
    padding: 3px 12px;
    background-color: #ADD8E6;
}

.btn-black,
.black-active,
.btn-rainbow,
.rainbow-active,
.btn-shade,
.shade-active,
.btn-eraser,
.eraser-active {
    align-self: flex-start;
    padding: 12px 26px;
    font-size: 15px;
}

.btn-black,
.black-active,
.btn-rainbow,
.rainbow-active,
.btn-shade,
.shade-active,
.btn-eraser,
.eraser-active {
    margin-bottom: 20px;
    transition-duration: 0.4s;
    width: 125px;
}

.btn-black,
.btn-rainbow,
.btn-shade,
.btn-eraser {
    background-color: #ADD8E6;
}

.black-active {
    background-color: black;
    color: white;
    font-weight: bold;
}

.rainbow-active {
    background-image: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet);
    font-weight: bold;
}

.shade-active {
    background-image: linear-gradient(to right, white, black);
    font-weight: bold;
}

.eraser-active {
    background-color: #E1ADB3;
    font-weight: bold;
}


.grid-container {
    display: grid;
    width: 560px;
    height: 560px;
    background-color: white;
    border-style: solid;
    border-width: 1px;
    margin-top: 40px;
}

